@import url("/Styles/index.css");

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1 {
  margin-left: 1rem;
}
table {
  display: flex;
  margin: 0.5rem;
}

table th {
  text-decoration: underline;
  width: 20rem;
  text-align: center;
}
table td {
  width: 20rem;
  text-align: center;
}

.last-table-row {
  text-decoration: underline;
}

.checkout-button {
  text-decoration: none;
  color: black;
  background-color: #a6e3e9;
  padding: 0.5rem 2rem;
  margin: auto;
  border-radius: 2px;
  border: 1px solid black;
}

main img {
  display: flex;
  border-radius: 15px;
  align-items: center;
  object-fit: contain;
  width: 400px;
}

@media (max-width: 750px) {
  main div img {
    object-fit: cover;
    width: 50%;
  }
}
