@import url("/Styles/index.css");

main {
  display: flex;
  flex-direction: column;
  justify-content: unset;
}
h1 {
  width: 100%;
  text-align: center;
}

.item-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  width: 100%;
}

.item-div img {
  padding: 0;
  height: 100px;

  object-fit: contain;
}

.checkout-link {
  background-color: #a6e3e9;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  color: black;
  border: 1px solid black;
  width: fit-content;
  margin: auto;
  margin-bottom: 1rem;
}
