@import url("/Styles/index.css");

.spesific-h1 {
  font-size: 3rem;
}
.jacket {
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  width: 100%;
}

button {
  background-color: #a6e3e9;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}
@media (max-width: 750px) {
  .spesific-description {
  }
  .spesific-h1 {
    font-size: 1.5rem;
  }

  button {
    margin-top: auto;
    .jacket {
      object-fit: cover;
      width: 100%;
    }
  }
}
