@import url("/Styles/index.css");

.jackets-element {
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 20px;
  row-gap: 20px;
}

.jacket {
  text-align: center;
  margin: auto;
}
.buyprice {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.buyprice a {
  background-color: #a6e3e9;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  color: black;
  border: 2px solid black;
}

@media (max-width: 1415px) {
  .jacket a {
    grid-template-columns: auto;
    transition-duration: 0.5s;
    max-width: 50%;
  }
}

@media (max-width: 900px) {
  .jacket {
    max-width: 80%;
    transition-duration: 0.5s;
  }
}
@media (max-width: 750px) {
  .jackets-element {
    display: flex;
    flex-direction: column;
  }
}
