@import url("/Styles/index.css");

.jacket {
  text-align: center;
  margin: auto;
}

button {
  background-color: #a6e3e9;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.5rem;
}
@media (max-width: 750px) {
  button {
    margin-top: auto;
    .jacket {
      object-fit: cover;
      width: 100%;
    }
  }
}
